<!DOCTYPE html>
<html lang="en" data-ng-app="app">
<head>
    <meta charset="utf-8">
    <title>NodeJS on Neo4j</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
</head>
<body class="container">

<div data-ng-controller="testCtrl">
    <button data-ng-click="insertUser()">Insert User</button>
    <button data-ng-click="selectUser()">Select User</button>
    <button data-ng-click="updateUser()">Update User</button>
    <button data-ng-click="deleteUser()">Delete User</button>
</div>

<script src="/js/app.js"></script>
</body>
</html>